*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-light: white;
  --text-dark: rgb(53, 53, 53);

  --background-dark: rgb(53, 53, 53);
  --text-light: white;
}

.dark-theme, .dark-theme .sidebar-container {
  background-color: #000000 !important;
  transition: 500ms ease-in-out;
}

.secondary-color {
    color: rgb(152, 0, 0);
}

.hidden {
  display: none;
}

/* Starter Loader Styles */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 1px rgb(164, 164, 164);
    transition: 50ms ease-in;
}

/* Theme Toggler Styles */

.toggle {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, .1);
  line-height: 1;
  scale: .6;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

/* Sidebar Toggler Styles */

#checkbox-nav {
    display: none;
  }
  
  .toggle-nav {
    margin-right: 30px;
    position: relative;
    width: 60px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: var(--background-dark);
    border-radius: 4px;
  }

  .dark-theme .bars {
    background-color: var(--background-light);
  }
  
  #bar2 {
    transition-duration: .8s;
    background-color: rgb(152, 0, 0);
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox-nav:checked + .toggle-nav .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox-nav:checked + .toggle-nav #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox-nav:checked + .toggle-nav #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
    background-color: rgb(152, 0, 0);
  }
  
  #checkbox-nav:checked + .toggle-nav #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox-nav:checked + .toggle-nav {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

.sidebar-container {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 200;
    height: 100vh;
    width: 300px;
    box-shadow: 0 0 5px 1px rgb(164, 164, 164);
    background-color: #fff;
    transition: 300ms ease-in-out;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-dark);
    padding: 20px 30px;
}

.dark-theme .heading {
  color: var(--text-light);
}

.sidebar-cancel-btn {
  display: none;
}

.dark-theme .sidebar-cancel-btn {
  color: var(--text-light);
}

.sidebar-content > span {
    cursor: pointer;
    padding: 10px 0;
}

.sidebar-content a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-dark);
    margin-left: 10px;
}

.dark-theme .sidebar-content a {
  color: var(--text-light);
}

.sidebar-content i {
    font-size: 20px;
    margin-left: 30px;
    color: rgb(152, 0, 0);
}

.sidebar-content > span:hover {
    transition: 200ms;
    background-color: #e1e1e186;
}

/* Hero Section Styling */

.hero-section {
  width: 100%;
  height: 100vh;
}

/* Animate About */

.container-about-animate {
  width: max-content;
  height: fit-content;
}

.content {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 40px;
  color: var(--text-dark);
}

.dark-theme .content {
  color: var(--text-light);
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: '<';
  left: 0;
}

.content__container:after {
  content: ' />';
  position: absolute;
  right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: -2px;
  color: rgb(152, 0, 0);
  font-size: 30px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__list {
  margin-top: 0;
  padding: 0;
  margin: 0;
  /* padding-left: 80px; */
  /* text-align: left; */
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  5%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
 


@media (max-width: 425px) {
  .heading {
    font-size: 20px;
    padding-left: 15px;
  }  
  .toggle-nav {
    width: 30px;
    height: 24px;
  }
  .container {
    display: inline-block;
    width: fit-content;
    position: fixed;
    z-index: 300;
    bottom: 10px;
    right: 0;
  }
  .toggle {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
  }
}

@media (max-width: 355px) {
  .sidebar-cancel-btn {
    display: block;
  }  
}