* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-light: white;
  --text-dark: rgb(53, 53, 53);

  --background-dark: rgb(53, 53, 53);
  --text-light: white;
}

.dark-theme {
  background-color: #000000 !important;
  transition: 500ms ease-in-out;
}

.secondary-color {
  color: rgb(152, 0, 0);
}

.hidden {
  display: none;
}

.wrapper-no-bg {
  padding: 40px !important;
}

.wrapper-bg {
  padding: 40px !important;
  background-color: #f5f5f5;
}

.dark-theme .wrapper-bg {
  background-color: transparent;
}

a {
  text-decoration: none;
}

/* Starter Loader Styles */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0 5px 1px rgb(164, 164, 164); */
  transition: 50ms ease-in;
  /* backdrop-filter: blur(20px); */
  /* background-color: #ffffff5a; */
  z-index: 10;
}

/* Theme Toggler Styles */

.toggle {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
  line-height: 1;
  scale: 0.6;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

/* Sidebar Toggler Styles */

#checkbox-nav {
  display: none;
}

.toggle-nav {
  margin-right: 30px;
  position: relative;
  width: 60px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--background-dark);
  border-radius: 4px;
}

/* .dark-theme .bars {
    background-color: var(--background-light);
  } */

#bar2 {
  transition-duration: 0.8s;
  background-color: rgb(152, 0, 0);
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox-nav:checked + .toggle-nav .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox-nav:checked + .toggle-nav #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox-nav:checked + .toggle-nav #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
  background-color: rgb(152, 0, 0);
}

#checkbox-nav:checked + .toggle-nav #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox-nav:checked + .toggle-nav {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.sidebar-container {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 200;
  height: 100vh;
  width: 300px;
  box-shadow: 0 0 5px 1px rgb(164, 164, 164);
  background-color: #ffffff5a;
  backdrop-filter: blur(10px);
  transition: 300ms ease-in-out;
}

.sidebar-container > div {
  width: 100%;
  height: 90%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.heading {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-dark);
  padding: 20px 30px;
}

.dark-theme .heading {
  color: var(--text-light);
}

.sidebar-cancel-btn {
  display: none;
}

.dark-theme .sidebar-cancel-btn {
  color: var(--text-light);
}

.sidebar-content > span {
  cursor: pointer;
  padding: 10px 0;
}

.sidebar-content a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-left: 10px;
}
/* 
.dark-theme .sidebar-content a {
  color: var(--text-light);
} */

.sidebar-content i {
  font-size: 20px;
  margin-left: 30px;
  color: rgb(152, 0, 0);
  transition: 300ms;
}

.sidebar-content > span {
  position: relative;
}

.sidebar-content > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #a0a0a0;
  z-index: -1;
  transition: 300ms;
}

.sidebar-content > span:hover i {
  scale: 1.3;
}

.dark-theme .sidebar-content > span::after {
  background-color: #ffffff78 !important;
}

.sidebar-content > span:hover::after {
  left: 0;
}

.dark-theme .sidebar-content > span:hover a {
  color: var(--text-dark);
}

.sidebar-content > span:hover a {
  color: #fff;
}

/* Hero Section Styling */

.hero-section {
  width: 100%;
  height: 85vh;
  /* background-image: url("./images/hero-bg-image.jpg");
  background-size: cover;
  background-position: center; */
}

/* Hero About  */

.about-container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: rgba(77, 77, 77, 0.266); */
  color: #000000;
  transition: all ease 0.3s;
}

.dark-theme .about-container {
  color: white;
}

.about-container::before,
.about-container::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.about-container::before {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  top: 30%;
  left: 7%;
}

.about-container .box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.222);
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.074);
  backdrop-filter: blur(20px);
}

.about-container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.about-container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.about-container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.about-container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.about-container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

/* social icons styling */

.social-card-sidebar a {
  scale: 0;
  transition: all 0.25s;
}

.social-card,
.social-card-sidebar {
  display: flex;
}

.social-card svg,
.social-card-sidebar svg {
  position: absolute;
  display: flex;
  width: 30px;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: all 0.25s;
  z-index: 2;
  cursor: pointer;
}

.social-card-sidebar .social-link1,
.social-card-sidebar .social-link2,
.social-card-sidebar .social-link3,
.social-card-sidebar .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.social-card-sidebar svg {
  transform: scale(1);
  color: #000000;
}

.dark-theme .social-card svg,
.dark-theme .social-card-sidebar svg {
  color: #fff;
}

.social-link1:hover {
  background-color: #1877f2;
  animation: bounce_613 0.4s linear;
}

.social-link1:hover svg {
  color: #fff;
}

.social-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.social-link2:hover svg {
  color: #fff;
}

.social-link3:hover {
  background-color: #0077b5;
  animation: bounce_613 0.4s linear;
}

.social-link3:hover svg {
  color: #fff;
}

.social-link4:hover {
  background-color: #3ae231;
  animation: bounce_613 0.4s linear;
}

.social-link4:hover svg {
  color: #fff;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 665px) {
  .social-card {
    display: none;
  }
}

@media (max-width: 425px) {
  .heading {
    font-size: 20px;
    padding-left: 15px;
  }
  .toggle-nav {
    width: 30px;
    height: 24px;
    margin-right: 15px;
  }
  .container {
    display: inline-block;
    width: fit-content;
    padding: 0;
  }
  .toggle {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 355px) {
  .sidebar-cancel-btn {
    display: block;
  }
}
